@font-face {
  font-family: "Akira";
  src: url(/assets/fonts/Akira\ Expanded\ Demo.otf);
  font-weight: bold;
  font-style: bold;
}

:root {
  --clr-dark: #000000;
  --clr-light: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

.dark-mode {
  --clr-light: #000000;
  --clr-dark: #ffffff;
}

.title {
  font-family: 'Akira';
  margin: 3%;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.registrar {
  max-height: 900px;
  display: grid;
  grid-template-rows: 10% 15% 5% 70%;
  grid-template-columns: 10% 30% 10% 40% 5%;
}

.login {
  max-height: 900px;
  display: grid;
  grid-template-rows: 20% 15% 5% 60%;
  grid-template-columns: 5% 40% 10% 30% 10%;
}

#title1 {
  padding-top: 15px;
  display: flex;
  justify-self: center;
  grid-row: 2/3;
  grid-column: 2/3;
}

#title2 {
  padding-top: 15px;
  display: flex;
  justify-self: center;
  grid-row: 2/3;
  grid-column: 4/5;
}

h3 {
  font-family: 'Akira';
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 3%;
}

.formulario {
  grid-row: 4/5;
  grid-column: 2/3;
  width: 550px;
  height: 520px;
  justify-self: center;
  background-color: var(--clr-light);
}

.formulario2 {
  grid-row: 4/5;
  grid-column: 4/5;
  width: 550px;
  height: 260px;
  justify-self: center;
  background-color: var(--clr-light);
}

.imagenregiscont {
  margin-top: 5%;
  grid-row: 1/4;
  grid-column: 4/5;
}

.imagenlogincont {
  margin-top: 5%;
  justify-self: end;
  grid-row: 1/4;
  grid-column: 2/3;
}

form {
  font-family: 'Montserrat SemiBold', sans-serif;
  text-align: center;
  margin: 5%;
  color: var(--clr-dark);
}

.linkLogin {
  font-family: 'Montserrat SemiBold', sans-serif;
  color: #ffffff;
  text-align: center;
}

.linkLogin:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.texto1 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.btn1 {
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 0;
  font-size: 15px;
}

input.btn1 {
  font-weight: 600;
  color: var(--clr-light);
  text-transform: uppercase;
  padding: 1em 1em;
  background: var(--clr-dark);
  border-radius: 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

input.btn1::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.442);
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

input.btn1:hover {
  color: var(--clr-light);
  background: var(--clr-dark);
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

input.btn1:active {
  color: var(--clr-dark);
  background: var(--clr-light);
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

input.btn1:active::before {
  color: var(--clr-dark);
  background: var(--clr-light);
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}



.header {
  z-index: 50;
  width: auto;
  height: 110px;
  background-color: black;
}

.contenedorhead {
  z-index: 50;
  width: 100%;
  height: 12%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1% 4% 10% 10% 50% 10% 10% 5%;
  position: fixed;
  background-color: black;
}

.logoutnav {
  align-self: center;
  justify-self: center;
  grid-column: 2/3;
}

.usuariosnav {
  align-self: center;
  justify-self: center;
  margin-bottom: 5px;
  grid-column: 3/4;
}

.modo-luz {
  align-self: center;
  justify-self: center;
  grid-column: 4/5;
}

.toggle-switch {
  width: auto;
  height: auto;
  margin-top: 10px;
  position: relative;
  width: 100px;
  height: 60px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked~.slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked~.slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contenedorlogoheader {
  grid-column: 5/6;
  justify-self: center;
}


.logoheader {
  max-width: 550px;
  height: 100%;
}

.bolsaboton {
  grid-column: 7/8;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}

.carritocompras {
  border: none;
  align-self: center;
  width: 100px;
  height: 80px;
  background-color: #000000;
  border-radius: 1em;
  color: #ffffff;
}

.carritocompras:hover {
  color: #000000;
  background: #ffffff;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.carritocompras:active {
  color: #000000;
  background: #e8e8e8;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

.atras {
  margin-top: 10%;
  border: none;
  align-self: center;
  width: 100px;
  height: 90px;
  background-color: #000000;
  border-radius: 1em;
  color: #ffffff;
}

.atras:hover {
  color: #000000;
  background: #ffffff;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.atras:active {
  color: #000000;
  background: #e8e8e8;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

.compras {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  width: 94%;
  height: 800px;
  text-align: center;
  background-color: var(--clr-light);
}

.carritoMas {
  margin-top: 10%;
  border: none;
  align-self: center;
  width: 250px;
  height: 250px;
  color: var(--clr-dark);
}

.txtcarro {
  font-family: 'Montserrat SemiBold', sans-serif;
  font-weight: 600;
  font-size: 200%;
  margin-top: 7%;
  color: var(--clr-dark);
}

.contenedorproducto {
  display: grid;
  grid-template-rows: 10% 20% 20% 10% 10% 10% 20%;
  grid-template-columns: 7% 35% 5% 10% 10% 10% 10% 13%;
  width: 94%;
  height: 800px;
  margin: 3%;
  background-color: #000000;
}

.carrusel {
  width: 100%;
  margin: 5%;
  grid-row: 2/6;
  grid-column: 2/3;
}

.productTitle {
  font-family: 'Akira';
  margin: 0%;
  width: 500px;
  display: flex;
  justify-content: baseline;
  align-self: center;
  text-align: center;
  color: var(--clr-light);
  grid-row: 2/3;
  grid-column: 4/8;
}

.productColor {
  font-family: 'Akira';
  font-size: 160%;
  color: #C49396;
  grid-row: 2/3;
  grid-column: 4/8;
  align-self: flex-end;
}

.productDescription {
  grid-row: 3/4;
  grid-column: 4/8;
  color: var(--clr-light);
  align-self: center;
}

.productsize {
  font-family: 'Akira';
  font-size: 190%;
  color: var(--clr-light);
  align-self: center;
  grid-row: 4/5;
  grid-column: 4/6;
}


.sizebtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row: 5/6;
  grid-column: 4/6;
}

.btnsizes {
  width: 30px;
  height: 30px;
}

.productPrice {
  font-family: 'Akira';
  font-size: 190%;
  grid-row: 6/7;
  grid-column: 4/5;
  color: var(--clr-light);
  align-self: center;
}

.addCart {
  font-size: 120%;
  grid-row: 6/7;
  grid-column: 5/6;
  color: var(--clr-light);
  align-self: center;
  justify-self: end;
  margin: 0%;
}


.addCartbtn {
  border: none;
  align-self: center;
  width: 60px;
  height: 60px;
  grid-row: 6/7;
  grid-column: 6/7;
  background-color: #000000;
  border-radius: 1em;
  color: #ffffff;
}

.addCartbtn:hover {
  color: #000000;
  background: #ffffff;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

.addCartbtn:active {
  color: #000000;
  background: #e8e8e8;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

/* home css start */

#banner {
  display: flex;
  position: relative;
  width: 94%;
  height: 600px;
  margin: 3%;
}

#bannerimg {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.textbanner {
  font-family: 'Akira';
  margin: 100px;
  padding: 0;
  color: #ffffff;
  text-shadow: 5px 5px #000000;
  text-decoration: #000000;
  z-index: 1;
  position: absolute;
  top: 15%;
}

#b1 {
  font-weight: bold;
  font-size: 130%;
}

#b2 {
  font-size: 260%;
}


#banner2 {
  margin: 3%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light);
}

#textbanner2 {
  font-family: 'Akira';
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 3%;
  color: var(--clr-dark);
}

#btnproductos {
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  height: 70px;
  cursor: pointer;
  border: 0;
  font-size: 15px;
}

button.btn {
  font-weight: 600;
  color: var(--clr-light);
  text-transform: uppercase;
  padding: 1em 1em;
  background: var(--clr-dark);
  border-radius: 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.442);
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.btn:hover {
  color: var(--clr-light);
  background: var(--clr-dark);
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.btn:active {
  color: var(--clr-dark);
  background: var(--clr-light);
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.btn:active::before {
  color: var(--clr-dark);
  background: var(--clr-light);
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

#banner3 {
  margin: 3%;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--clr-light);
}

#containersamurai {
  background-color: #000000;
  width: 100%;
}

#textbanner3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  margin-top: 5%;
  color: var(--clr-dark);
}

.linkcamisa {
  text-decoration: none;
  color: var(--clr-dark);
}

.linkcamisa:hover {
  text-decoration: none;
  color: var(--clr-dark);
}

@media (min-width:800px) {
  .panelescamisas {
    background-color: var(--clr-light);
    height: 1200px;
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 50% 50%;
    text-align: center;
    align-items: center;
  }
}

.amongus {
  width: 480px;
  height: 300px;
}

.camiLista {
  list-style: none;
  height: 80%;
}

.camisa {
  margin: 0%;
  border: solid var(--clr-dark);
  padding-left: 5%;
  padding-right: 5%;
  z-index: 3;
}

.flip-card {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 70%;
  perspective: 1000px;
}

.flip-card-inner {
  width: 70%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 290px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 10px solid var(--clr-dark);
}

.flip-card-back {
  transform: rotateY(180deg);
}

.txtcamisa {
  margin-top: 5%;
  border: solid 2px var(--clr-dark);
}

.txt1 {
  font-family: 'Akira';
  font-weight: 600;
  font-size: 100%;
  color: var(--clr-dark);
}

.txt2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: var(--clr-dark);
}

.camiseta {
  margin: 5%;
}

.lookbookcontainer {
  margin: 3%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light);
}

.lookbooklogo {
  background-color: #ffffff;
  border-radius: 2em;
  margin-top: 1%;
  width: 30%;
  height: 75%;
}

#btnlookbook {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  height: 80px;
  cursor: pointer;
  border: 0;
  font-size: 15px;
}

.footer {
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: 400px;
}

.footImg {
  width: 365px;
  height: 365px;
}

.footTitle {
  font-family: 'Akira';
  color: #ffffff;
}

.footSection {
  margin: 5%;
}

.footLogos {
  display: flex;
  justify-content: space-around;
}


@media (max-width:800px) {

  .header {
    width: 100%;
    height: 60px;
  }

  .contenedorhead {
    width: 100%;
    height: 7%;
  }

  .logoutnav {
    width: 30px;
    height: 30px;
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
  }
  
  .usuariosnav {
    align-self: center;
  }

  .toggle-switch {
    margin-left: 60px;
    max-width: 50px;
    max-height: 30px;
  }
  .modo-luz {
    display: none;
    align-self: center;
    justify-self: center;
    grid-column: 4/5;
  }
  
  .toggle-switch {
    position: relative;
    width: 50px;
    height: 30px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  .contenedorlogoheader {
    grid-column: 5/6;
    justify-self: center;
  }
  
  .carritocompras {
    max-width: 50px;
    max-height: 50px;
  }
  
  .logoheader {
    max-width: 550px;
    height: 100%;
  }
  
  .bolsaboton {
    grid-column: 7/8;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
  }

  #banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0%;
  }

  #bannerimg {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .textbanner {
    display: none;
  }

  #banner2 {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #textbanner2 {
    font-family: 'Akira';
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 3%;
  }


  #banner3 {
    height: 370px;
  }

  #containersamurai {
    width: 100%;
  }

  #samurai {
    width: 60%;
  }

  #textbanner3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    margin: 0%;
  }

  #panelescamisas {
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
  }

  .amongus {
    width: 110px;
    height: 175px;
  }

  .camiLista {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
  }

  .panelescamisas {
    height: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
    background-color: var(--clr-light);
    display: grid;
    margin: 3%;
    text-align: center;
    align-items: center;
  }

  .flip-card {
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 55%;
    perspective: 1000px;
  }

  .flip-card-inner {
    width: 110%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 3px solid var(--clr-dark);
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .txtcamisa {
    margin-top: 5%;
    border: solid 2px var(--clr-dark);
  }

  .txt1 {
    font-family: 'Akira';
    font-weight: 600;
    font-size: 80%;
    color: var(--clr-dark);
  }

  .txt2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 90%;
    color: var(--clr-dark);
  }

  .camisa {
    margin: 0%;
    width: 100%;
    height: 50%;
  }

  .camisa:hover {
    width: 105%;
    height: 55%;
  }

  .txtcamisa {
    margin-top: 3%;
  }

  .txt1 {
    margin: 0%;
  }

  .lookbookcontainer {
    margin: 3%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lookbooklogo {
    width: 70%;
    height: 50%;
  }

  .footer {
    background-color: #000000;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 350px;
  }
  
  .footImg {
    width: 200px;
    height: 200px;
  }
  
  .footTitle {
    font-family: 'Akira';
    color: #ffffff;
  }
  
  .footSection {
    margin: 5%;
  }
  
  .footLogos {
    display: flex;
    justify-content: space-around;
  }
  
}