<section class="body-home">
    <main>
        <section id="banner">
            <img id="bannerimg" src="../../../../assets/images/1350 ARENISCA.png">
            <section class="textbanner">
                <p id="b1">UN NUEVO SENTIR</p>
                <h1 id="b2">No somos la causa, somos la<br> consecuencia</h1>
            </section>
        </section>
        <section id="banner2">
            <h1 id="textbanner2">CONOCE UNA NUEVA<br>FORMA DE DISFRUTAR EL<br>RAVE</h1>
            <a href="#panelescamisas">
                <button id="btnproductos" class="btn">VER PRODUCTOS</button>
            </a>
        </section>
        <section id="banner3">
            <section id="containersamurai">
                <img id="samurai" src="../../../../assets/images/samurai.png">
            </section>
            <section id="textbanner3">
                <p>Deseamos fortalecer el camino del arte en la escena electrónica, así mismo si energía como la
                    comodidad<br>en/de los espacios y compartir el gozo por la música.</p>
            </section>
        </section>
    </main>
    <section id="panelescamisas">
        <section class="camiseta">
            <a class="linkcamisa" [routerLink]="['/product']">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="camisa1" src="../../../../assets/images/Camiseta rosa frente.jpg">
                        </div>
                        <div class="flip-card-back">
                            <img class="camisa2" src="../../../../assets/images/Camiseta rosa espalda.jpg">
                        </div>
                    </div>
                </div>
                <section class="txtcamisa">
                    <p class="txt1">Camiseta Faisan - Hi no maid ni</p>
                    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </a>
        </section>
        <section class="camiseta">
            <a class="linkcamisa" [routerLink]="['/product']">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="camisa1" src="../../../../assets/images/Camiseta rosa frente.jpg">
                        </div>
                        <div class="flip-card-back">
                            <img class="camisa2" src="../../../../assets/images/Camiseta rosa espalda.jpg">
                        </div>
                    </div>
                </div>
                <section class="txtcamisa">
                    <p class="txt1">Camiseta Faisan - Hi no maid ni</p>
                    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </a>
        </section>
        <section class="camiseta">
            <a class="linkcamisa" [routerLink]="['/product']">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="camisa1" src="../../../../assets/images/Camiseta rosa frente.jpg">
                        </div>
                        <div class="flip-card-back">
                            <img class="camisa2" src="../../../../assets/images/Camiseta rosa espalda.jpg">
                        </div>
                    </div>
                </div>
                <section class="txtcamisa">
                    <p class="txt1">Camiseta Faisan - Hi no maid ni</p>
                    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </a>
        </section>
        <section class="camiseta">
            <a class="linkcamisa" [routerLink]="['/product']">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="camisa1" src="../../../../assets/images/Camiseta rosa frente.jpg">
                        </div>
                        <div class="flip-card-back">
                            <img class="camisa2" src="../../../../assets/images/Camiseta rosa espalda.jpg">
                        </div>
                    </div>
                </div>
                <section class="txtcamisa">
                    <p class="txt1">Camiseta Faisan - Hi no maid ni</p>
                    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </a>
        </section>
        <section class="camiseta">
            <a class="linkcamisa" [routerLink]="['/product']">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="camisa1" src="../../../../assets/images/Camiseta rosa frente.jpg">
                        </div>
                        <div class="flip-card-back">
                            <img class="camisa2" src="../../../../assets/images/Camiseta rosa espalda.jpg">
                        </div>
                    </div>
                </div>
                <section class="txtcamisa">
                    <p class="txt1">Camiseta Faisan - Hi no maid ni</p>
                    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </a>
        </section>
        <section class="camiseta">
            <a class="linkcamisa" [routerLink]="['/product']">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="camisa1" src="../../../../assets/images/Camiseta rosa frente.jpg">
                        </div>
                        <div class="flip-card-back">
                            <img class="camisa2" src="../../../../assets/images/Camiseta rosa espalda.jpg">
                        </div>
                    </div>
                </div>
                <section class="txtcamisa">
                    <p class="txt1">Camiseta Faisan - Hi no maid ni</p>
                    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </section>
            </a>
        </section>
    </section>
        <section class="lookbookcontainer">
            <img class="lookbooklogo" src="../../../../assets/images/LOGO ABURAYA.png">
            <button id="btnlookbook" class="btn">LookBook</button>
        </section>
    </section>