<header class="header">
    <section class="contenedorhead">
        <section  class="usuariosnav">
            <a *ngIf="!usersService.isLogged()" [routerLink]="['/register']">
                <button class="carritocompras">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                      </svg>
                </button>
            </a>
            <a *ngIf="usersService.isLogged()" (click)="onClickLogout()">
                <button class="carritocompras">
                    <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto"  fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                      </svg>
                </button>
            </a>
        </section>
        <section class="modo-luz">
            <section class="theme-toggle" >
                <div class="toggle-switch">
                    <label class="switch-label" >
                        <input type="checkbox" class="checkbox" (click)="themeToggle()">
                        <span class="slider"></span>
                    </label>
                </div>
            </section>
        </section>
        <section class="contenedorlogoheader">
            <a href="#">
                <img class="logoheader" src="../../../../assets/images/Recurso 14.png">
            </a>
        </section>
        <section class="bolsaboton">
            <a *ngIf="usersService.isLogged()" [routerLink]="['/cart']">
            <button class="carritocompras">
                <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                  </svg>
            </button>
            </a>
            <a *ngIf="!usersService.isLogged()" [routerLink]="['/login']">
                <button class="carritocompras">
                    <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                      </svg>
                </button>
                </a>
        </section>
    </section>
</header>