<section class="login">
    <section class="title" id="title2">
        <h3>Login</h3>
    </section>
    <section class="formulario2">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <section class="mb-3">
                <label class="texto1">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </section>
            <section class="mb-3">
                <label class="texto1">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </section>
            <input type="submit" value="LOGIN" class="btn1">
        </form>
        <a [routerLink]="['/register']">
            <p class="linkLogin">¿Aun no estas registrado? Click Aquí</p>
        </a>
    </section>
    <section class="imagenlogincont">
        <img class="imagenlogin" src="../../../../../assets/images/logi.png" alt="">
    </section>
</section>